@import "../styles/style.scss";
@import "bootstrap/scss/bootstrap";
@import "./SideBar.scss";
@import "./Footer.scss";

// Font
@font-face {
  font-family: "LeagueOfLegends";
  src: url("../assets/fonts/League-Of-Legends-Logo-Font/Friz Quadrata Std Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "LeagueOfLegends";
  background-color: $secondary;
}

.title {
  color: $warning;
}
