@import "../styles/style.scss";

// Stili specifici del footer
.footer {
  border-top: 1px solid $secondary;

  color: $light;

  a {
    color: $light;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }
}
